.sass-cache/
*.css.map
*.sass.map
*.scss.map
arvore_binaria_de_busca/arvore_binaria_de_busca.sln
arvore_binaria_de_busca/.vs/arvore_binaria_de_busca/v17/.suo
arvore_binaria_de_busca/.vs/arvore_binaria_de_busca/FileContentIndex/9b90ce84-65c4-4e0c-8ce9-ddf6658b1be1.vsidx
arvore_binaria_de_busca/.vs/arvore_binaria_de_busca/FileContentIndex/read.lock
arvore_binaria_de_busca/.vs/arvore_binaria_de_busca/v17/Browse.VC.db
arvore_binaria_de_busca/.vs/arvore_binaria_de_busca/v17/ipch/AutoPCH/167a399c4b83693/ARVORE_BINARIA_DE_BUSCA.ipch
arvore_binaria_de_busca/arvore_binaria_de_busca/arvore_binaria_de_busca.vcxproj
arvore_binaria_de_busca/arvore_binaria_de_busca/arvore_binaria_de_busca.vcxproj.filters
arvore_binaria_de_busca/arvore_binaria_de_busca/arvore_binaria_de_busca.vcxproj.user
arvore_binaria_de_busca/arvore_binaria_de_busca/x64/Debug/arvore_b.504c39c6.tlog/arvore_binaria_de_busca.lastbuildstate
arvore_binaria_de_busca/arvore_binaria_de_busca/x64/Debug/arvore_b.504c39c6.tlog/CL.command.1.tlog
arvore_binaria_de_busca/arvore_binaria_de_busca/x64/Debug/arvore_b.504c39c6.tlog/CL.read.1.tlog
arvore_binaria_de_busca/arvore_binaria_de_busca/x64/Debug/arvore_b.504c39c6.tlog/CL.write.1.tlog
arvore_binaria_de_busca/arvore_binaria_de_busca/x64/Debug/arvore_b.504c39c6.tlog/link.command.1.tlog
arvore_binaria_de_busca/arvore_binaria_de_busca/x64/Debug/arvore_b.504c39c6.tlog/link.read.1.tlog
arvore_binaria_de_busca/arvore_binaria_de_busca/x64/Debug/arvore_b.504c39c6.tlog/link.write.1.tlog
arvore_binaria_de_busca/arvore_binaria_de_busca/x64/Debug/arvore_binaria_de_busca.exe.recipe
arvore_binaria_de_busca/arvore_binaria_de_busca/x64/Debug/arvore_binaria_de_busca.ilk
arvore_binaria_de_busca/arvore_binaria_de_busca/x64/Debug/arvore_binaria_de_busca.log
arvore_binaria_de_busca/arvore_binaria_de_busca/x64/Debug/arvore_binaria_de_busca.obj
arvore_binaria_de_busca/arvore_binaria_de_busca/x64/Debug/vc143.idb
arvore_binaria_de_busca/arvore_binaria_de_busca/x64/Debug/vc143.pdb
arvore_binaria_de_busca/x64/Debug/arvore_binaria_de_busca.exe
arvore_binaria_de_busca/x64/Debug/arvore_binaria_de_busca.pdb
AVL-tree/.vs/AVL-tree/FileContentIndex/80e402ab-31d7-453b-9ecb-ede6197072d8.vsidx
AVL-tree/.vs/AVL-tree/FileContentIndex/ff6f31f9-cdbe-449a-9346-a5fa3065d2af.vsidx
AVL-tree/.vs/AVL-tree/FileContentIndex/read.lock
AVL-tree/.vs/AVL-tree/v17/.suo
AVL-tree/.vs/AVL-tree/v17/Browse.VC.db
AVL-tree/.vs/AVL-tree/v17/Browse.VC.db-shm
AVL-tree/.vs/AVL-tree/v17/Browse.VC.db-wal
AVL-tree/.vs/AVL-tree/v17/Browse.VC.opendb
AVL-tree/.vs/AVL-tree/v17/ipch/AutoPCH/178ccfe8b0ac906d/AVL-TREE.ipch
AVL-tree/AVL-tree/AVL-tree.vcxproj
AVL-tree/AVL-tree/AVL-tree.vcxproj.filters
AVL-tree/AVL-tree/AVL-tree.vcxproj.user
AVL-tree/AVL-tree/x64/Debug/AVL-tree.exe.recipe
AVL-tree/AVL-tree/x64/Debug/AVL-tree.ilk
AVL-tree/AVL-tree/x64/Debug/AVL-tree.log
AVL-tree/AVL-tree/x64/Debug/AVL-tree.obj
AVL-tree/AVL-tree/x64/Debug/AVL-tree.tlog/AVL-tree.lastbuildstate
AVL-tree/AVL-tree/x64/Debug/AVL-tree.tlog/CL.command.1.tlog
AVL-tree/AVL-tree/x64/Debug/AVL-tree.tlog/CL.read.1.tlog
AVL-tree/AVL-tree/x64/Debug/AVL-tree.tlog/CL.write.1.tlog
AVL-tree/AVL-tree/x64/Debug/AVL-tree.tlog/link.command.1.tlog
AVL-tree/AVL-tree/x64/Debug/AVL-tree.tlog/link.read.1.tlog
AVL-tree/AVL-tree/x64/Debug/AVL-tree.tlog/link.write.1.tlog
AVL-tree/AVL-tree/x64/Debug/vc143.idb
AVL-tree/AVL-tree/x64/Debug/vc143.pdb
AVL-tree/x64/Debug/AVL-tree.exe
AVL-tree/x64/Debug/AVL-tree.pdb
AVL-tree/.vs/AVL-tree/FileContentIndex/b5f5b55b-eeb8-40ed-9ec0-2c11c4c35ff1.vsidx
AVL-tree/.vs/AVL-tree/v17/ipch/AutoPCH/ddb0370f993a33de/VCTMP4696_355812.AVL-TREE.00000000.ipch
AVL-tree/.vs/AVL-tree/FileContentIndex/555ff29b-9f20-49ae-a43e-a0c376c890c4.vsidx
AVL-tree/.vs/AVL-tree/v17/ipch/AutoPCH/17d16431de3eb788/VCTMP8224_194632.AVL-TREE.00000000.ipch
AVL-tree/.vs/AVL-tree/FileContentIndex/72ba13fa-accc-40db-9791-e803b4e7d8b5.vsidx
AVL-tree/.vs/AVL-tree/FileContentIndex/661eef85-de08-454b-b6ad-a8fdd5737d21.vsidx
AVL-tree/.vs/AVL-tree/FileContentIndex/5a201350-cbc0-46d7-be42-89f8703f71ae.vsidx
AVL-tree/.vs/AVL-tree/FileContentIndex/e1bd1a60-1dbd-4e11-82c1-cc690565665c.vsidx
